# Initialisation

In [1]:
import pandas as pd
import plotly.express as px

In [97]:
youth = pd.read_csv("C:/Users/Utilisateur/Desktop/cours/Python_pour_la_data/projet/youth_alcohol/youth_fin.csv")
tolerance_compl = pd.read_csv("C:/Users/Utilisateur/Desktop/cours/Python_pour_la_data/projet/youth_alcohol/tolerance_compl.csv")
pays = pd.read_csv("C:/Users/Utilisateur/Desktop/cours/Python_pour_la_data/projet/youth_alcohol/wikipedia-iso-country-codes.csv")

In [56]:
youth

,Country,Year,"15-19 years old, current drinkers both sexes (%)","15-19 years old, current males drinkers (%)","15-19 years old, current females drinkers (%)"
0,Afghanistan,2016,0.3 [0.3-0.4],0.5 [0.4-0.7],0.1 [0.1-0.2]
1,Albania,2016,37.7 [34.8-40.5],50.5 [46-54.9],24.2 [21.1-27.6]
2,Algeria,2016,1.5 [1.3-1.8],2.3 [1.9-2.8],0.7 [0.6-0.9]
3,Andorra,2016,64.2 [-],76.6 [-],50.7 [-]
4,Angola,2016,33.5 [29.7-37.2],46 [39.8-52.3],21.1 [17.2-25.6]
...,...,...,...,...,...
184,Venezuela (Bolivarian Republic of),2016,24.7 [22.1-27.4],34.7 [30.1-39.6],14.3 [11.9-17.1]
185,Viet Nam,2016,23.4 [21.4-25.5],32.9 [29.3-36.7],13.3 [11.5-15.4]
186,Yemen,2016,0.3 [0.3-0.4],0.5 [0.4-0.7],0.2 [0.1-0.2]
187,Zambia,2016,16.5 [14.8-18.2],23.9 [21-27.1],9 [7.7-10.5]
188,Zimbabwe,2016,9.8 [8.5-11.3],14.5 [12.1-17.4],5.1 [4.1-6.2]

In [4]:
tolerance.head()
tolerance.dtypes
pays.columns = ['Country' , 'Alpha-3 code']
pays.head()

ValueError: Length mismatch: Expected axis has 5 elements, new values have 2 elements

In [98]:
pays = pays.drop(['Alpha-2 code' , 'Numeric code' , 'ISO 3166-2'] , axis = 'columns')

In [99]:
pays.head()

  English short name lower case Alpha-3 code
0                   Afghanistan          AFG
1                 Ã…land Islands          ALA
2                       Albania          ALB
3                       Algeria          DZA
4                American Samoa          ASM

In [7]:
tolerance_compl = tolerance.merge(pays , on = ['Country'] )
tolerance_compl.head(30)

KeyError: 'Country'

In [86]:
tolerance_compl.to_csv('tolerance_compl.csv')

In [12]:
youth.dtypes

Country                                             object
Year                                                 int64
15-19 years old, current drinkers both sexes (%)    object
15-19 years old, current males drinkers (%)         object
15-19 years old, current females drinkers (%)       object
dtype: object

In [62]:
youth['15-19 years old, current drinkers both sexes (%)'][0][3:]

' [0.3-0.4]'

In [116]:
youth_compl

,Country,Year,"15-19 years old, current drinkers both sexes (%)","15-19 years old, current males drinkers (%)","15-19 years old, current females drinkers (%)",Alpha-3 code
0,Afghanistan,2016,0.3,0.5,0.1,AFG
1,Albania,2016,37.7,50.5,24.2,ALB
2,Algeria,2016,1.5,2.3,0.7,DZA
3,Andorra,2016,64.2,76.6,50.7,AND
4,Angola,2016,33.5,46.0,21.1,AGO
...,...,...,...,...,...,...
166,Uzbekistan,2016,11.8,17.2,6.1,UZB
167,Vanuatu,2016,7.4,10.9,3.7,VUT
168,Yemen,2016,0.3,0.5,0.2,YEM
169,Zambia,2016,16.5,23.9,9.0,ZMB
170,Zimbabwe,2016,9.8,14.5,5.1,ZWE

In [115]:
ecart = []
moy = []
for i in range(len(youth_compl)):
    e = 0
    m = 0
    x=youth_compl['15-19 years old, current drinkers both sexes (%)'][i].index('[')
    m=youth_compl['15-19 years old, current drinkers both sexes (%)'][i][:x]
    e=youth_compl['15-19 years old, current drinkers both sexes (%)'][i][(x+1):]
    ecart.append(e)
    moy.append(m)
for i in range(len(moy)):
    moy[i] = float(moy[i])
youth_compl['15-19 years old, current drinkers both sexes (%)'] = moy

In [81]:
for i in range(len(moy)):
    moy[i] = float(moy[i])

In [82]:
moy

[0.3,
 37.7,
 1.5,
 64.2,
 33.5,
 35.3,
 54.5,
 16.3,
 69.3,
 68.1,
 12.8,
 29.8,
 3.8,
 1.3,
 37.5,
 58.0,
 66.2,
 27.3,
 15.3,
 16.8,
 31.3,
 34.4,
 19.3,
 26.8,
 24.5,
 54.1,
 24.4,
 19.4,
 20.8,
 19.2,
 26.1,
 51.7,
 24.4,
 13.3,
 54.4,
 41.2,
 25.0,
 2.0,
 36.9,
 36.0,
 23.7,
 25.2,
 47.4,
 32.5,
 55.3,
 64.6,
 27.4,
 23.6,
 63.9,
 11.0,
 31.3,
 29.1,
 32.2,
 1.4,
 19.0,
 59.3,
 11.5,
 62.3,
 17.6,
 13.3,
 9.9,
 61.9,
 65.4,
 52.3,
 15.9,
 23.6,
 70.2,
 15.4,
 53.4,
 34.9,
 16.9,
 12.6,
 17.2,
 26.1,
 22.4,
 18.3,
 54.6,
 59.2,
 25.2,
 13.1,
 1.7,
 1.5,
 71.4,
 41.4,
 50.8,
 22.7,
 45.5,
 1.5,
 26.4,
 13.8,
 6.6,
 0.2,
 15.3,
 26.4,
 65.3,
 3.0,
 10.0,
 18.7,
 0.1,
 70.6,
 86.4,
 12.0,
 14.0,
 17.5,
 3.8,
 12.9,
 49.4,
 0.5,
 19.6,
 28.7,
 8.5,
 20.4,
 40.6,
 1.3,
 12.5,
 16.2,
 18.7,
 12.8,
 17.1,
 60.9,
 63.8,
 20.5,
 11.8,
 37.3,
 20.9,
 68.8,
 3.3,
 0.6,
 33.2,
 7.4,
 23.0,
 38.5,
 20.8,
 55.6,
 58.0,
 25.5,
 50.5,
 52.9,
 39.4,
 55.2,
 39.5,
 22.6,
 40.4,
 35.3,
 32.0,
 9.1,
 21.1,
 2.5,
 12.4,
 47.3,
 39.4,
 18.7,
 57.2,
 56.5,
 59.6,
 7.4,
 0.3,
 19.5,
 56.6,
 18.0,
 1.1,
 28.2,
 62.0,
 72.0,
 1.0,
 11.7,
 27.3,
 12.9,
 15.0,
 8.2,
 43.9,
 2.6,
 3.5,
 18.4,
 7.9,
 23.6,
 45.2,
 7.9,
 62.3,
 23.6,
 59.9,
 57.1,
 11.8,
 7.4,
 24.7,
 23.4,
 0.3,
 16.5,
 9.8]

In [90]:
youth['15-19 years old, current drinkers both sexes (%)'] = moy

In [94]:
youth.head()

,Country,Year,"15-19 years old, current drinkers both sexes (%)","15-19 years old, current males drinkers (%)","15-19 years old, current females drinkers (%)"
0,Afghanistan,2016,0.3,0.5,0.1
1,Albania,2016,37.7,50.5,24.2
2,Algeria,2016,1.5,2.3,0.7
3,Andorra,2016,64.2,76.6,50.7
4,Angola,2016,33.5,46.0,21.1

In [101]:
pays.head()

  English short name lower case Alpha-3 code
0                   Afghanistan          AFG
1                 Ã…land Islands          ALA
2                       Albania          ALB
3                       Algeria          DZA
4                American Samoa          ASM

In [102]:
pays.columns = ['Country' , 'Alpha-3 code']

In [103]:
youth_compl = youth.merge(pays , on = ['Country'] )
youth_compl.head(30)

,Country,Year,"15-19 years old, current drinkers both sexes (%)","15-19 years old, current males drinkers (%)","15-19 years old, current females drinkers (%)",Alpha-3 code
0,Afghanistan,2016,0.3 [0.3-0.4],0.5 [0.4-0.7],0.1 [0.1-0.2],AFG
1,Albania,2016,37.7 [34.8-40.5],50.5 [46-54.9],24.2 [21.1-27.6],ALB
2,Algeria,2016,1.5 [1.3-1.8],2.3 [1.9-2.8],0.7 [0.6-0.9],DZA
3,Andorra,2016,64.2 [-],76.6 [-],50.7 [-],AND
4,Angola,2016,33.5 [29.7-37.2],46 [39.8-52.3],21.1 [17.2-25.6],AGO
5,Antigua and Barbuda,2016,35.3 [32.6-38.4],47.9 [43.3-52.6],22.4 [19.3-25.8],ATG
6,Argentina,2016,54.5 [51.1-58.1],68.2 [63.4-72.7],40.3 [35.3-45.5],ARG
7,Armenia,2016,16.3 [14.8-18.9],23.5 [20.4-26.9],8.8 [7.5-10.4],ARM
8,Australia,2016,69.3 [66.4-71.8],80.8 [77.7-83.6],57 [52.2-61.6],AUS
9,Austria,2016,68.1 [66.2-70.1],80 [77.9-82.1],55.7 [52.5-58.9],AUT
10,Azerbaijan,2016,12.8 [11.2-14.5],18.2 [15.5-21.4],6.5 [5.4-7.9],AZE
11,Bahamas,2016,29.8 [27.3-32.7],41.2 [36.7-45.9],18 [15.4-21],BHS
12,Bahrain,2016,3.8 [3.1-4.3],5.4 [4.3-6.7],1.8 [1.4-2.2],BHR
13,Bangladesh,2016,1.3 [1.1-1.6],2.1 [1.7-2.6],0.5 [0.4-0.6],BGD
14,Barbados,2016,37.5 [34.7-40.2],50.4 [45.7-55.1],24.2 [20.9-27.8],BRB
15,Belarus,2016,58 [53.8-61.6],66.1 [60.8-71],49.4 [43.7-55],BLR
16,Belgium,2016,66.2 [64.3-68.1],78.5 [76.2-80.6],53.4 [50.1-56.6],BEL
17,Belize,2016,27.3 [24.9-30.1],38.3 [34-42.9],16.3 [13.9-19.1],BLZ
18,Benin,2016,15.3 [13.9-17],22.2 [19.5-25.1],8.4 [7.2-9.7],BEN
19,Bhutan,2016,16.8 [14.7-19.4],24.3 [20.3-28.8],9.2 [7.4-11.2],BTN
20,Bosnia and Herzegovina,2016,34.4 [31.8-37.1],46.5 [42-51.1],21.5 [18.5-24.7],BIH
21,Botswana,2016,19.3 [16.8-21.5],27.7 [23.7-32.1],10.7 [8.9-12.9],BWA
22,Brazil,2016,26.8 [22.6-31.5],37.4 [30.2-45.2],15.8 [12-20.5],BRA
23,Brunei Darussalam,2016,24.5 [20-29.4],29.7 [22.3-38.3],18.9 [13.7-25.5],BRN
24,Bulgaria,2016,54.1 [51.1-56.7],67.7 [63.8-71.3],39.6 [35.6-43.8],BGR
25,Burkina Faso,2016,24.4 [22.3-26.6],35.1 [31.4-39.1],13.3 [11.5-15.3],BFA
26,Burundi,2016,19.4 [17.7-21.4],28.1 [24.8-31.7],10.9 [9.4-12.7],BDI
27,Cambodia,2016,19.2 [17.5-21],27.5 [24.3-30.9],10.6 [9.2-12.3],KHM
28,Cameroon,2016,26.1 [24-28.4],37.6 [33.7-41.7],14.5 [12.5-16.7],CMR
29,Canada,2016,51.7 [49.3-54.4],65.4 [61.7-68.8],37.2 [33.6-40.9],CAN

In [117]:
youth_compl.to_csv('youth_compl.csv')